---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
	title='The Llama Hacker'
	description='About the Llama Hacker'
	pubDate={new Date('October 12 2024')}
>
	<p>My name is Matt Scarpino and I've been a programmer and author for over twenty years. I consider LLMs to be the most fascinating technology of the 21st century, and I'm particularly impressed with the open-source Llama models from Meta. This blog comprises my thoughts on LLM development and a discussion of the work that I've been doing.</p>

	<p>I'm planning to add comments to the blog shortly. If you'd like to contact me in the meantime, feel free to send an <a href="mailto:&#109;&#097;&#116;&#116;&#115;&#099;&#097;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a>.	</p>
</Layout>
